.about-product {
  width: 1366px;
  margin: 0 auto;
  color: #1f3f68;
  background: linear-gradient(0deg, #98c3e8 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.about-product__bg {
  min-height: 667px;
  background-image: url("../assets/images/about-product__image.png");
  background-repeat: no-repeat;
  background-size: 688px 613px;
  background-position: right;
}

.about-product__wrapper {
  @include wrapper-desktop;
}

.about-product__container-left {
  width: 510px;
}

.about-product__title {
  margin-bottom: 32px;
  font-size: 64px;
  line-height: 74px;
}

.about-product__description {
  margin-bottom: 71px;
  font-size: 16px;
  line-height: 26px;
}

