.advantage {
  padding: 5px;
}

.advantage__wrapper {
  @include wrapper-desktop;
  padding-top: 180px;
}

.advantage__title {
  display: inline-block;
  width: 365px;
  color: $bg-color-dark;
  font-size: 36px;
  line-height: 46px;
}

.advantage__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
}

.advantage__list-item {
  margin-bottom: 25px;
  margin-left: auto;

  &:first-child {
    margin-top: -140px;
  }

  &:nth-child(even) {
    margin-left: 80px;
  }

  &:not(:first-child) {
    margin-top: -240px;
  }
}
