.advantage {
  padding: 5px;
}

.advantage__wrapper {
  width: 1366px;
  margin: 0 auto;
  padding: 190px 15px;
}

.advantage__title {
  display: inline-block;
  width: 365px;
  margin-left: 213px;
  color: #316099;
  font-size: 36px;
  line-height: 46px;
}

.advantage__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
}

.advantage__list-item {
  margin-right: 213px;
  margin-bottom: 25px;
  margin-left: auto;

  &:first-child {
    margin-top: -140px;
  }

  &:nth-child(even) {
    margin-left: 293px;
  }

  &:not(:first-child) {
    margin-top: -240px;
  }
}
