.button {
  width: 220px;
  padding: 15px 15px;
  color: #ffffff;
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: $bg-color-light;
  transition: 300ms;
  cursor: pointer;
  box-shadow: 5px 10px 20px rgba(16, 112, 177, 0.2);

  &:hover {
    transform: scale(0.95);
    color: $bg-color-dark;
  }
}
