.footer {
  width: 1366px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #5a98d0;
}

.footer__bg {
  width: 1270px;
  background-color: #316099;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 80px;
  padding-right: 200px;
  padding-bottom: 50px;
  padding-left: 200px;
}

.footer__column {
  flex-basis: 33.333333%;
  margin-bottom: 50px;
  padding: 15px;

  &--follow-us,
  &--about-us {
    padding-left: 100px;
  }
}

.footer__title {
  display: inline-block;
  min-height: 45px;
  margin-bottom: 30px;
}

.footer__logo {
  display: block;
  color: #ffffff;
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__item {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.footer__contact-letter {
  padding-right: 15px;
}

.footer__contact-text {
  margin: 0;
}

.footer__link {
  color: #ffffff;
  text-decoration: none;

  &:hover {
    color: #5a98d0;
  }
}

.footer__all-right {
  padding: 15px;
  opacity: 0.4;
}
