.footer {
  width: 1366px;
  margin: 0 auto;
  color: #ffffff;
  background-color: $bg-color-light;

  &--contact-us {
    background: transparent;
  }
}

.footer__bg {
  width: 1270px;
  border-radius: 0 200px 0 0;
  background-color: $bg-color-dark;
}

.footer__wrapper {
  @include wrapper-desktop;
  display: flex;
  flex-wrap: wrap;
  padding-top: 80px;
  padding-bottom: 50px;
}

.footer__container {
  flex-basis: 50%;
  min-height: 325px;
  padding: 15px;
  border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.4);

  &--right {
    text-align: right;
  }
}

.footer__title {
  display: inline-block;
  margin-bottom: 30px;
  padding-right: 30px;
  font-size: 36px;
  line-height: 46px;
}

.footer__description {
  margin: 0;
  opacity: 0.6;
}

.footer__button {
  margin-top: 75px;
}

.footer__column {
  flex-basis: 33.333333%;
  margin-bottom: 50px;
  padding: 15px;

  &--follow-us,
  &--about-us {
    padding-left: 100px;
  }
}

.footer__column-title {
  display: inline-block;
  min-height: 45px;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 30px;
}

.footer__logo {
  display: block;
  color: #ffffff;
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__item {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.footer__contact-letter {
  padding-right: 15px;
}

.footer__contact-text {
  margin: 0;
}

.footer__link {
  color: #ffffff;
  text-decoration: none;

  &:hover {
    color: $bg-color-light;
  }
}

.footer__all-right {
  padding: 15px;
  opacity: 0.4;
}
